@import '_var';
.btn-gradient {
    background: linear-gradient(45deg, #62298b, #f1333c , #f39314) !important;
    color: white !important;
    font-weight: 800 !important;
}
a {
    text-decoration: none !important;
}
.bg-my-dark {
    background-color: #1b012e !important;
}
#toast-container > div {
    opacity: 1 !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 7px !important;
    &:hover {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
    .toast-message {
        font-weight: bold !important;
        font-size: 16px;
        padding-left: 6px;
    }
}
.swal-footer {
    text-align: center !important;
}
.nav-gradient {
    .nav-link {
        color: gray;
        font-size: 16px;
        line-height: 35px;
    }
    .nav-link.active {
        color: var(--primary);
        font-weight: bold !important;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px ;
            width: 100%;
            background: #f39314 !important;
        }
    }
}
.rounded-5 {
    border-radius: 8px !important;
}
.datepicker table tr td.active.active {
    background: linear-gradient(45deg, var(--primary), #f1333c , #f39314) !important;
}
.swal-button--confirm {
    background: linear-gradient(45deg, var(--primary), #f1333c) !important;
    &:hover {
        background: linear-gradient(45deg, var(--primary), #f1333c , #f39314) !important;
    }
}

.bg-gradient {
    background: linear-gradient(45deg, var(--primary), #f1333c , #f39314) !important;
}
.card.custom {
    .card-header {
        background: linear-gradient(45deg, var(--primary), #f1333c , #f39314) !important;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card-title {
            font-weight: bold;
            margin: 0 !important;
            font-size: 17px;
        }
    }
}
.table-card {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    .card-body {
        padding: 0 !important;
        .dataTables_wrapper {
            .row:nth-child(1) {
                padding: 15px !important;
                margin: 0 !important;
                border-bottom: 1px solid #CED4DA !important
            }
            .row:nth-child(2) {
                padding:0 15px !important
            }
            .row:nth-child(3) {
                margin-top: 15px !important;
                padding: 0.5rem 1rem !important;
                background-color: rgba(0, 0, 0, 0.03);
                border-top: 1px solid rgba(0, 0, 0, 0.125);
            }
        }
    }
}
table th,td {
    vertical-align: middle !important;
}
 
.table-hover > tbody > tr:hover {
    background: #ffe1c0 !important;
    cursor: pointer;
    td {
        color: var(--primary) !important;
    }
}
.table-bordered > :not(caption) > * {
    border-width: 1px 0;
    border-color: #F6F2FA !important;
}
.table-bordered > :not(caption) > * > * {
    border-width: 0 1px;
    border-color: #F6F2FA !important;
}
.fw-bold {
    font-weight: bold !important;
} 
.ft-up {
    text-transform: uppercase !important;
}
.fa-20 {
    font-size: 20px !important;
}
.ft-cap {
    text-transform: capitalize !important;
}
table {
    margin: 0 !important;
    width: 100% !important;
    th {
        background-color: #F6F2FA !important;
        color: var(--primary) !important;
        font-size: 12px !important;
        font-weight: 800 !important;
    }
    td {
        font-size: 14px !important;
        // padding: 0 !important;
    }
}
.toast-success {
    background-color: #1EA964 !important;
}

.toast-error {
    background-color: #f0333c !important;
}
.t-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    width: 50%;
    margin: 0 auto;
}
.x-center {
    display: flex !important;
    justify-content: center;
}
.x-between {
    display: flex !important;
    justify-content: space-between;
}
.y-center {
    align-items: center !important;
}
.text-gradient {
    background: -webkit-linear-gradient(45deg, var(--primary), #f1333c , #f39314);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}